<!DOCTYPE html>
<html lang="en" x-data="{ isSidebarOpen: false }">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/main.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- Include Alpine.js for mobile menu functionality -->
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="scripts/copy.js"></script>
    <title>Vector Documentation</title>
  </head>
  <body class="text-black bg-white dark:bg-black dark:text-white">
    <div class="header bg-gray-100 border-b dark:border-slate-700 dark:bg-slate-900 text-black dark:text-white">
      <div class="logo">
          <!-- <img src="/path-to-your-logo.png" alt="Logo" height="30"> -->
          <span><b><a href="https://www.redwing.ai">Redwing.ai</a></b></span>
          <span><a href="https://www.redwing.ai"> | Docs</a></span>
      </div>
      <nav class="flex items-center">
        <!-- Toggle button for the sidebar -->
        <span id="open-terminal-button" class="lg:hidden bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
          <a href="#">Terminal</a><br>
        </span>        
        <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
          <a href="#">v1.0.8</a><br>
        </span>
        &nbsp;&nbsp;&nbsp;        
        <button @click="isSidebarOpen = !isSidebarOpen" class="lg:hidden px-2 py-1 text-sm border rounded">
          ☰ Menu
        </button>        
      </nav>
    </div>

    <div class="container flex flex-col lg:flex-row">
      <!-- Sidebar that disappears on mobile sizes -->
      <div 
        class="sidebar bg-gray-100 text-black dark:bg-black dark:text-white fixed inset-y-0 left-0 transform lg:transform-none lg:translate-x-0 w-64 z-20 transition-transform duration-300 ease-in-out" 
        x-show="isSidebarOpen"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 -translate-x-full"
        x-transition:enter-end="opacity-100 translate-x-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 translate-x-0"
        x-transition:leave-end="opacity-0 -translate-x-full"
        @keydown.escape.window="isSidebarOpen = false"
        @click.away="isSidebarOpen = false">
        {{> sidebar }}
      </div>

      <div 
        class="sidebar border-r dark:border-gray-800 bg-gray-100 text-black dark:bg-black dark:text-white w-64 z-10 hidden md:block">
        {{> sidebar }}
      </div>
      <!-- Modal with higher z-index -->
      <div style="z-index:1000" class="absolute inset-0 lg:relative lg:order-3 hidden lg:block">
          {{> modal }}
      </div>
      <div class="main-content min-h-screen dark:border-gray-800 dark:mr-8 text-black bg-white dark:bg-black dark:text-white w-full lg:w-3/4 lg:order-1 overflow-auto">
        {{> tab-component }}
      </div>
      <div id="python" class="code-content min-h-screen markdown-body border-l dark:border-gray-800 text-black bg-white dark:bg-gray-900 dark:text-white w-full lg:order-2 overflow-auto">
        {{{htmlContent}}}
      </div>
      
      <!-- <div x-show="isSidebarOpen" class="fixed inset-0 bg-black bg-opacity-50 z-10" x-show="isSidebarOpen" @click="isSidebarOpen = false" style="display: none;"></div> -->
    </div>    
    
    <script>
        const openModalButton = document.getElementById('open-terminal-button');
        const closeModalButton = document.getElementById('close-modal-button');
        const modal = document.getElementById('terminal-modal');
    
        openModalButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
        });
    
        closeModalButton.addEventListener('click', () => {
        modal.classList.add('hidden');
        });
    </script>
  
    <script>
        document.querySelectorAll('.internal a').forEach(link => {
            link.addEventListener('click', function(event) {
            event.preventDefault();
    
            const language = this.getAttribute('href').substring(1);
            const markdownPath = `/docs/${language}.markdoc`;
    
            fetch(markdownPath)
                .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.text();
                })
                .then(markdown => {
                const htmlContent = marked.parse(markdown); // Use `parse` method
                document.querySelector('.code-content').innerHTML = htmlContent;
                })
                .catch(error => {
                console.error('Error fetching the markdown content:', error);
                });
            });
        });      
    </script>
  </body>
</html>
