<div>
<h3 class="font-semibold text-black dark:bg-dark dark:text-white border-b dark:border-slate-800 pb-1 py-1">Client Libraries</h3>
<div class="internal">
    <!-- Navigation links here -->
    <a href="#python" data-scroll="700" class="scroll-link">Python</a><br>
    <a href="#csharp" data-scroll="700" class="scroll-link">C#</a><br>
    <a href="#java" data-scroll="700" class="scroll-link">Java</a><br>
    <a href="#cpp" data-scroll="700" class="scroll-link">C++</a><br>
    <a href="#ruby" data-scroll="700" class="scroll-link">Ruby</a><br>

    <hr class="h-px my-4 bg-gray-200 border-0 bg-transparent">
    <h3 class="font-semibold text-black dark:bg-dark dark:text-white border-b dark:border-slate-800 pb-1">Scenarios</h3>
    <a href="#transaction_fraud_anomaly" data-scroll="700" class="scroll-link">Transaction Fraud Anomaly</a><br>
    <a href="#network_threat_detection" data-scroll="700" class="scroll-link">Network Threat Detection</a><br>            
    <a href="#product_recommendation" data-scroll="700" class="scroll-link">Product Recommendation</a><br>            
    <a href="#restock_low_inventory" data-scroll="700" class="scroll-link">Restock Low Inventory</a><br>            
    <a href="#inventory_demand_forecast" data-scroll="700" class="scroll-link">Inventory Demand Forecast</a><br>
    <a href="#healthcare_semantic_search" data-scroll="700" class="scroll-link">Healthcare Semantic Search</a><br>
</div>

<hr class="h-px my-4 bg-gray-200 border-0 bg-transparent">
<hr class="h-px my-4 bg-gray-200 border-0 bg-transparent">
            
<!-- <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-800">
<span>Vector v1.0.6</span>    
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-800"> -->

<!-- Add more links as needed -->

<!-- Spacer to push the bottom content down -->
<div class="space-y-8 mb-4 flex-grow"></div>

<!-- Bottom Content -->
<div class="space-y-8 mb-4">
    <!-- Install Docker Card -->
    <div class="bg-white rounded-md border border-gray-200 shadow-md dark:bg-gray-900 dark:border-gray-700 p-5">
        <h5 class="text-xl font-semibold tracking-tight text-black dark:text-white">Install Docker</h5>
        <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-800">
        <p class="mb-3 font-normal text-black dark:text-gray-400">To get started with our container, first install Docker.</p>
        <a href="https://docs.docker.com/get-docker/" target="_blank" class="w-full inline-flex items-center justify-center py-2 px-3 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-600 focus:ring-4 focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 dark:text-white">
            Visit Docker 
        </a>              
    </div>

    <!-- Client  Card -->
    <div class="bg-white rounded-md border border-gray-200 shadow-md dark:bg-gray-900 dark:border-gray-700 p-5">
        <h5 class="text-xl font-semibold tracking-tight text-black dark:text-white">Vector Clients</h5>
        <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-800">
        <p class="mb-3 font-normal text-black dark:text-gray-400">Browse all our implementation libraries from Java to Ruby.</p>
        <a href="https://www.github.com/redwing-os/client" target="_blank" class="w-full inline-flex items-center justify-center py-2 px-3 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-600 focus:ring-4 focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 dark:text-white">
            Visit Client Libraries
        </a>
    </div>
</div>                         
</div>


<script>
  // This will wait for the DOM to load before running the script
  document.addEventListener('DOMContentLoaded', function() {
    // Select all links with the 'scroll-link' class
    document.querySelectorAll('.scroll-link').forEach(function(link) {
      // Add a click event listener to each link
      link.addEventListener('click', function(event) {
        // Prevent the default anchor link behavior
        event.preventDefault();
        // The scrollBy function scrolls the document by the specified number of pixels
        window.scrollBy({
          top: 700, // Scroll down 700 pixels
          left: 0,
          behavior: 'smooth' // Smoothly scroll
        });
      });
    });
  });
</script>