<div class="">
    <div class="markdown-body text-black bg-white dark:bg-transparent dark:text-white p-8 overflow-y-auto">
        <h2 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Developer Documentation</h2>
        <p class=" mb-12 border-b pb-4 dark:border-slate-800">
        This guide provides an overview of our Vector container and code integration process with <a class="font-medium text-blue-400 underline dark:text-blue-500 hover:no-underline" href="https://www.github.com/redwing-os/sandbox">Sandbox</a>. 
        It's designed to help you understand the functionality of the client library and how to implement it within your application. To provision a license key and customer id please visit <a href=" https://redwing.ai/plans"> https://redwing.ai/plans</a>
        </p>

        <div class="flex pt-6 pl-6 p-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-900 dark:text-blue-400" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="font-medium">Ensure that these system requirements are met:</span>
                <ul class="mt-1.5 list-disc list-inside">
                    <li>You are running on an 
                        <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">arm64</span>
                        or
                        <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">amd64</span>
                        compatible machine architecture.
                    </li>
                    <li>All M1, M2, and M3 class Apple devices run with 
                        <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">arm64</span>
                    </li>
                </ul>
            </div>
        </div>

  
        <h3 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Install Sandbox</h3>
        <!-- Mockup of interactive code terminal -->
        <p class="border-b dark:border-slate-800 pb-4">This clones and establishes the Sandbox directory from which you will pull and compose the Docker container</p>
        <div class="code-sandbox bg-gray-100 dark:bg-slate-900 text-white mt-2 p-4 pt-7 pl-6 rounded-lg font-mono text-sm relative">
        <p id="code-snippet" class="text-black dark:text-green-400">git clone https://github.com/redwing-os/sandbox.git <br> cd sandbox</p>
        <button id="copy-button1" onclick="copyToClipboard('#code-snippet', 'copy-button1')" class="absolute top-7 right-6 text-xs bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">
            Copy
        </button>
        </div>    
        <br>      

        <h3 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Set Environment Variables</h3>
        <!-- Mockup of interactive code terminal -->
        <p class="border-b dark:border-slate-800 pb-4">Create a <span class="bg-grey-100 text-grey-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-grey-400 border border-grey-400">
            .env            
            </span>
            file in current directory which contains your container license key to run the Vector Docker container and enables allotted core utilization within VM</p>
        <div class="code-sandbox bg-gray-100 dark:bg-slate-900 text-white mt-2 p-4 pt-7 pl-6 rounded-lg font-mono text-sm relative">
        <p id="code-snippet6" class="text-black dark:text-green-400">
            LICENSE_KEY=[your-license-key]
            <br>
            CUSTOMER_ID=[your-customer-id]
            <br>
            DB_PORT=9042
            <br>
            DB_HOST=cassandra
            <br>
            DB_IMAGE=cassandra:latest
            <br>
            RUST_BACKTRACE=full            
        </p>
        <button id="copy-button6" onclick="copyToClipboard('#code-snippet6', 'copy-button6')" class="absolute top-7 right-6 text-xs bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">
            Copy
        </button>
        </div>    
        <br>             

        <h3 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Docker Pull</h3>
        <!-- Mockup of interactive code terminal -->
        <p class="border-b dark:border-slate-800 pb-4">Be sure to have both Docker and <a href="https://docs.docker.com/compose/install/">docker-compose</a> installed. This step pulls and runs the Docker container from Docker Hub using Sandbox's built-in &nbsp;
        <span class="bg-grey-100 text-grey-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-grey-400 border border-grey-400">
        docker-compose.yml                
        </span>
        </p>
        <!-- Mockup of interactive code terminal -->
        <div class="code-sandbox bg-gray-100 dark:bg-slate-900 text-white mt-2 p-4 pt-7 pl-6 rounded-lg font-mono text-sm relative">
        <p id="code-snippet2" class="text-black dark:text-green-400">
            docker pull helloredwing/vector && docker-compose up</p>
        <button id="copy-button2" onclick="copyToClipboard('#code-snippet2', 'copy-button2')" class="absolute top-7 right-6 text-xs bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">
            Copy
        </button>
        </div>    
        <br>    

        <h3 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Cassandra Connect</h3>
        <!-- Mockup of interactive code terminal -->
        <p class="border-b dark:border-slate-800 pb-4">Establishes Cassandra connection in container to run initialization commands
        <div class="code-sandbox bg-gray-100 dark:bg-slate-900 text-white mt-2 p-4 pt-7 pl-6 rounded-lg font-mono text-sm relative">
        <p id="code-snippet4" class="text-black dark:text-green-400">docker exec -it sandbox_cassandra_1 cqlsh</p>
        <button id="copy-button4" onclick="copyToClipboard('#code-snippet4', 'copy-button4')" class="absolute top-7 right-6 text-xs bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">
            Copy
        </button>
        </div>    
        <br>    
        
        <h3 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Database Configuration</h3>
        <!-- Mockup of interactive code terminal -->
        <p class="border-b dark:border-slate-800 pb-4">Establishes Cassandra tables and keyspaces for the Vector gRPC service
        <div class="code-sandbox bg-gray-100 dark:bg-slate-900 text-white mt-2 p-4 pt-7 pl-6 rounded-lg font-mono text-sm relative">
        <p id="code-snippet5" class="text-black dark:text-green-400">
            CREATE KEYSPACE redwing_keyspace WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};
            <br>
            CREATE TABLE redwing_keyspace.vectors (
                <br>
                key text PRIMARY KEY,
                <br>
                vector list&lt;float&gt;,
                <br>
                created_at timestamp,
                <br>
                updated_at timestamp);</p>
        <button id="copy-button5" onclick="copyToClipboard('#code-snippet5', 'copy-button5')" class="absolute top-7 right-6 text-xs bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">
            Copy
        </button>
        </div>    
        <br>               
        
        <h3 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Run Python Script</h3>
        <!-- Mockup of interactive code terminal -->
        <p class="border-b dark:border-slate-800 pb-4">Runs a simple Python script to test the system is setup properly, make sure you are in the
            <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">/sandbox</span>
            &nbsp;directory
        <div class="code-sandbox bg-gray-100 dark:bg-slate-900 text-white mt-2 p-4 pt-7 pl-6 rounded-lg font-mono text-sm relative">
        <p id="code-snippet9" class="text-black dark:text-green-400">
            sudo apt install python3-pip
            <br>
            pip3 install grpcio grpcio-tools sentence-transformers numpy scikit-learn 
            <br>
            python3 test/_test_e2e.py
            <br>        
            find ./sample -maxdepth 1 -name "*.py" ! -name "vectordb_pb2*.py" -exec python3 {} \;</p>
        <button id="copy-button9" onclick="copyToClipboard('#code-snippet9', 'copy-button9')" class="absolute top-7 right-6 text-xs bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">
            Copy
        </button>
        </div>    
        <br>     

        <h3 class="text-4xl font-semibold text-black dark:bg-dark dark:text-white">Wind Down</h3>
        <!-- Mockup of interactive code terminal -->
        <p class="border-b dark:border-slate-800 pb-4">To clean up containers and wind down the local sandbox environment run the following from the
            <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">/sandbox</span>
            &nbsp;directory
        <div class="code-sandbox bg-gray-100 dark:bg-slate-900 text-white mt-2 p-4 pt-7 pl-6 rounded-lg font-mono text-sm relative">
        <p id="code-snippet9" class="text-black dark:text-green-400">
            docker-compose down</p>
        <button id="copy-button9" onclick="copyToClipboard('#code-snippet9', 'copy-button9')" class="absolute top-7 right-6 text-xs bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">
            Copy
        </button>
        </div>    
        <br>             

        <div class="internal">
        <a href="/sandbox/sandbox" class="inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            <span class="w-full pl-2">Sandbox Environment In-Depth Documentation</span>
            <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>             
        </div>          
    </div>             
</div>